{% extends 'user_forms/base.html' %}


{% block body %}


<h1>{{ course.name }}</h1>


<p> <img src="{% url 'single_class_plot' course_id=course.id %}" 
alt="Class Stats" />


</p>



<p> 

Taken by: 
{% for student in students %}

<li><a href="{% url 'view_student' student_id=student.id %}">
            {{ student.cnet_id }}</a></li>

{% endfor %}
</p>


<p>


{% if files %}
My Files:

{% for file in files %}

<li>{{ file.filename }}</li>

{% endfor %}

{% else %}
You have no files for this class

{% endif %}

{% endblock %}