<!-- Course Detail -->

{% extends 'user_forms/base.html' %}


{% block body %}

<!-- Course name header -->
<h1>{{ course.name }}</h1>



<!-- Instructors and TAs Section -->

<!-- There will always be a course instructor -->
<ul style="float:left;">
<p><b>Taught by:</b></p> 
{% for instructor in instructors %}
<li><a href="{% url 'view_instructor' instructor_id=instructor.id %}">
{% if instructor.duplicates %}
    {{ instructor.full_name }}*
    </a></li>
{% else %}
    {{ instructor.full_name }}
    </a></li>
{% endif %}
{% endfor %}
</ul>

<!-- Some classes might not have TAs? -->
{% if assistants %}
<ul style="float:left;">
<p><b>TAs:</b></p>
{% for assistant in assistants %}
<li><a href="{% url 'view_assistant' assistant_id=assistant.id %}">
{% if assistant.duplicates %}
    {{ assistant.full_name }}*
    </a></li>
{% else %}
    {{ assistant.full_name }}
    </a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}
    
<!-- End -->


<!-- Single Class Plot -->
<div style="clear:both;"><img src="{% url 'single_class_plot' course_id=course.id %}"alt="Class Stats" /></div>
<!-- Single Class Plot -->



<!-- Filter Students by Major -->
<form action="" method="get">
    {% csrf_token %}
    {{ major_filter_form.as_p }}
    <input type="submit" value="Filter Students by Major"/>
</form>
<!-- End  -->



<!-- Students in Class Section -->
<ul style="float:left;">

<b>
{% if students %}
Students:
{% else %}
No Students found.  Chalk has likely cleared the data because the class is not
recent enough.
{% endif %}
</b> 
{% for student in students %}

<li><a href="{% url 'view_student' student_id=student.id %}">
{% if student.duplicates %}
    {{ student.cnet_id }}*
    {% if filter_enabled %}
        | {{ student.program }}
    {% endif %}
    </a></li>
{% else %}
{{ student.cnet_id }}
    {% if filter_enabled %}
    | {{ student.program }}
    {% endif %}
    </a></li>
{% endif %}

{% endfor %}
</ul>
<!-- End -->


<!-- Current User Files for Class Section -->
<ul style="float:left;">
<b>
{% if files %}
My Files:
{% else %}
You have no files for this class
{% endif %}
</b>
{% for file in files %}

<li>{{ file.file_name }}</li>
{% endfor %}
</ul>
<!-- End  -->









{% endblock %}