{% extends 'user_forms/base.html' %}


{% block body %}


<h1>{{ course.name }}</h1>


<p> <img src="{% url 'single_class_plot' course_id=course.id %}" 
alt="Class Stats" />


</p>



<p> 

<b>
{% if students %}
Also taken by:
{% else %}
No Students found.  Chalk has likely cleared the data because the class is not
recent enough.
{% endif %}
</b> 
{% for student in students %}


<li><a href="{% url 'view_student' student_id=student.id %}">
            {{ student.cnet_id }}</a></li>

{% endfor %}
</p>


<p>



<b>
{% if files %}
My Files:
{% else %}
You have no files for this class
</b>



{% endif %}

{% for file in files %}

<li>{{ file.filename }}</li>

{% endfor %}

{% endblock %}