{% extends 'user_forms/base.html' %}


{% block body %}

<p>Congratulations {{ cnet_id }}!  You are now downloading:
{% for course in courses %}
    <l>{{ course }}</l>
{% endfor %}

</p>

 <a href="{% url 'dl_query' %}">Download more classes</a>
 <a href="{% url 'view_courses' cnet_id=cnet_id %}">View My Courses</a>


 <h2>Classes Previously Downloaded</h2>
 <ul>
    {% for course in all_courses %}
    <li><a href="{% url 'course_detail' course_id=course.id %}">
            {{ course.name }}</a></li>
    {% endfor %} 
</ul>


{% endblock %}







<!-- Will probably need to format this to look nicely, this can be a good
     page to be a 'jumping off point' to look at demographic info and what not
      -->



