{% extends 'user_forms/base.html' %}


{% block body %}

<p>Choose Courses to Download</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
{% for course in courses %}
    <input type="checkbox" name="course{{ forloop.counter }}" id="course{{ forloop.counter }}" value="{{ course }}" />
    <label for="course{{ forloop.counter }}">{{ course }}</label><br/>
{% endfor %}
  Re-enter CNET Password<br>
    <input type="password" name="cnet_pw">
<input type="submit" value="Download" />
</form>

{% endblock %}
