<!-- Course List -->

{% extends 'user_forms/base.html' %}

{% block body %}

<!-- Link to student Prifle -->
<p>
     <a href="{% url 'view_student' student_id=student_id %}">
            View My Profile</a>
</p>


<!-- My Courses selection and links -->
<h2>My Courses</h2>
<ul>
<form action="" method="get">
{% csrf_token %}
    {% for course in course_list %}
    <input type="checkbox" name="course{{ forloop.counter }}" id="course{{ 
    forloop.counter }}" value="{{ course.id }}"/>
    <label for="course{{ forloop.counter }}"><a href="{% url 'course_detail' course_id=course.id cnet_id=cnet_id %}">{{ course.name }}</a>
    </label><br/>
    {% endfor %}
<input type="submit" value="View Plot of Selected Classes"/>
</form>
</ul>
<!-- End  -->



<!-- Student Classes Plot -->
{% if course_ids %}
<img src="{% url 'student_classes_plot' cnet_id=cnet_id course_ids=course_ids %}" 
alt="Class Stats" />
{% else %}
<img src="{% url 'student_classes_plot' cnet_id=cnet_id course_ids='No_courses_selected' %}" 
alt="Class Stats" />
{% endif %}
<!-- End  -->


{% endblock %}

><a href="{% url 'course_detail' course_id=course.id cnet_id=cnet_id %}">
            {{ course.name }}</a>